<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Edit your Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=listing.title %>" type="text" class="form-control" id="title" required>
                    <div class="invalid-feedback">Please Enter Title!!</div>
                </div>
            
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" id="description" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please Enter Description!!</div>
                </div>
                <div class="mb-3">
                    Original Listing Image:<br>
                    <img src="<%= originalImage %>" alt="Original Image">
                </div>
            
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image:</label>
                    <input name="listing[image]" type="file" class="form-control" id="image">
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" value="<%=listing.price %>" class="form-control" id="price" required>
                            <div class="invalid-feedback">Price should be valid!!</div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" value="<%=listing.country %>" type="text" class="form-control" id="country" required>
                            <div class="invalid-feedback">Country Name should be valid!!</div>
                        </div>
                    </div>
                </div>
            
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%=listing.location %>" type="text" class="form-control" id="location" required>
                    <div class="invalid-feedback">Location should be valid!!</div>
                </div>
                <br>
                <button class="btn btn-dark edit-btn">Edit</button>
            </form>
            <br><br><br>
        </div>
    </div>
</body>
